/*************************************************
	GENERAL STYLES
*************************************************/
.c  {
	color:#ffffff;
   
    
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	font-family: Lato;
	font-weight: bold;
}

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	padding: 20px;
}
html { 
  background: url(health.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

table {
	width: 100%;
}

tr:nth-child(odd) {
	background-color: #ffffcc;
}


tr:nth-child(even) {
	background-color: #ccccb3;
}

td {
	padding: 10px 10px;
}

button, #searchButton, #clearResults, #clearSelected {
  -webkit-border-radius: 38;
  -moz-border-radius: 38;
  
  font-family: Arial;
  color: #9999e6;
  font-size: 14px;
  font-weight: bold;
  background:  #ffffff;
  padding: 8px 10px 8px 10px;
  border: solid #1f628d 2px;
  text-decoration: none;
  cursor: pointer;
}

#clearSelected {
	display: block;
	margin: 30px auto;
}

#searchSection {
	text-align: center;
	margin-bottom: 20px;
}

#searchBar {
	height: 30px;
	width: 300px;
	padding-left: 10px;
}

#resultsSection {
	width: 100%;
}

#selectedSection {
	width: 100%;
}

#searchBar, #searchButton, #clearResults {
	margin: 15px auto;
}

#resultsHeader, #selectedHeader {
	width:100%;
	margin-top: 10px;
}

#itemCounter, #calorieCounter {
	display: block;
	margin-top: 10px;
	text-align: center;
	font-size: 1.5em;
}

#counter {
	margin-bottom: 20px;
}

/*************************************************
	MOBILE VIEW
*************************************************/

table {
	width: 100%;
}

input {
	display: block;
}

#searchButton, #clearResults{
	display: inline-block;
	margin-left: 10px;
}

#searchResults, #selectedResults {
		font-size: 0.6em;
	}

/*************************************************
	TABLET VIEW
*************************************************/

@media screen and (min-width: 768px) {
	
	input {
		display: inline-block;
	}
	
	#resultsSection {
		width: 47.5%;
		float: left;
		height: auto;
		margin-right: 2.5%;
	}

	#selectedSection {
		width: 47.5%;
		float: right;
	}
}

/*************************************************
	DESKTOP VIEW
*************************************************/

@media screen and (min-width: 1200px) {
	#searchResults, #selectedResults {
		font-size: 1em;
	}
}





